<table id="dataTable" class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>No</th>
      <th>Name</th>
      <th>Price</th>
      <th>Country</th>
      <th>City</th>
      <th>Popular</th>
      <th>Description</th>
      <th>Image</th>
      <th>Feature</th>
      <th>Activity</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody></tbody>
</table>
