<table id="dataTable" class="table table-bordered table-striped">
   <thead>
     <tr>
       <th>No</th>
       <th>Date Start</th>
       <th>Date End</th>
       <th>Item</th>
       <th>Member</th>
       <th>Bank</th>
       <th>Proof Payment</th>
       <th>Bank From</th>
       <th>Account Holder</th>
       <th>Status</th>
       <th>Action</th>
     </tr>
   </thead>
   <tbody></tbody>
 </table>
 